<h2>Choose your Party</h2>
 

<div class="cards">


<img src="/images/IconG.png" alt="staricon" class="img-pic">
<h3>Reptilians</h3>
<img src="/images/IconE.png" alt="eyeicon" class="img-pic">
<h3>Rawtilians</h3>


</div>