<h2>Choose your Party</h2>
 

<div class="cards">


<a class="nav" href="/reptilian"><img src="/images/IconG.png" alt="staricon" class="img-pic"></a>
<h3>Reptilians</h3>
<a class="nav" href="/reptilian">View party information</a>


<a class="nav" href="/rawtilian"><img src="/images/IconE.png" alt="eyeicon" class="img-pic"></a>
<h3>Rawtilians</h3>
<a class="nav" href="/rawtilian">View party information</a>


</div>